<div class="row mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">All Campaigns</div>
            <div class="card-block">
                <ngb-tabset>
                    <ngb-tab>

                        <ng-template ngbTabTitle><b>Sent</b> (7)</ng-template>
                        <ng-template ngbTabContent>
                              <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Subject</th>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>
                                                    <th>Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    

                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">


                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    
                                                </tr>
                                                <tr>
                                                   <td>4</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    
                                                </tr>
                                                <tr>
                                                  <td>5</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    
                                                </tr>
                                                <tr>
                                                  <td>6</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>Drafts</b> (2)</ng-template>
                        <ng-template ngbTabContent>
                            <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Subject</th>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>
                                                    <th>Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>14</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    

                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    
                                                </tr>
                                              
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>

                        <ng-template ngbTabTitle ><b>Scheduled</b> (0)</ng-template>
                        <ng-template ngbTabContent>
                            <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Subject</th>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>
                                                    <th>Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                             
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </ng-template>
                    </ngb-tab>

                      <ngb-tab>

                        <ng-template ngbTabTitle ><b>Suspended</b> (0)</ng-template>
                        <ng-template ngbTabContent>
                            <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Subject</th>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>
                                                    <th>Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </ng-template>
                    </ngb-tab>

                      <ngb-tab>

                        <ng-template ngbTabTitle ><b>Running</b> (1)</ng-template>
                        <ng-template ngbTabContent>
                        <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Subject</th>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>
                                                    <th>Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>9</td>
                                                    <td>lorem Ipsum</td>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                    <td>

                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <button class="dropdown-item">Preview</button>
                                                                <button class="dropdown-item">Edit</button>
                                                                <button class="dropdown-item">Replicate</button>
                                                                <button class="dropdown-item">Send Test Mail</button>
                                                                 <button class="dropdown-item">Requeue</button>
                                                                 <button class="dropdown-item">View Report</button>
                                                                 <button class="dropdown-item">Download PDF</button>
                                                                 <button class="dropdown-item">Archive</button>


                                                            </div>
                                                        </div> 
                                                   
                                                </td>    

                                                </tr>
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </ng-template>
                    </ngb-tab>

                      <ngb-tab>

                        <ng-template ngbTabTitle ><b>Archived</b> (0)</ng-template>
                        <ng-template ngbTabContent>
                            <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Subject</th>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>
                                                    <th>Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </ng-template>
                    </ngb-tab>
<!-- 
                    <ngb-tab title="Disabled" [disabled]="true">
                        <ng-template ngbTabContent>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                        </ng-template>
                    </ngb-tab> -->
                </ngb-tabset>
            </div>
        </div>
    </div>
   <!--  <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Pills</div>
            <div class="card-block">
                <ngb-tabset type="pills">
                    <ngb-tab title="Simple">
                        <ng-template ngbTabContent>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                            sint qui sapiente accusamus tattooed echo park.</p>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Disabled" [disabled]="true">
                        <ng-template ngbTabContent>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div> -->
</div>
