<div class="card-block">
    <ul class="timeline">
        <li>
            <div class="timeline-badge info"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><small>#15  </small>Lorem ipsum dolor</h4>
                    <p><small class="text-muted"><i class="fa fa-check"></i> 19 Aug 2017, 9.30 AM</small>
                    </p>
                </div>
                <div class="timeline-body">
                          <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>
c
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>List A</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>16 Aug, 2017 9.30 AM </td>

                                                  

                                                </tr>
                                                
                                                                                
                                        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                     <hr>
                                     
                                     
                                        <div class="btn-group" >

                                            <button type="button" class="btn btn-primary btn-sm" > Preview
                                                <i class="fa fa-eye"></i>  <span class="caret"></span>
                                            </button>

                                            <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" > Report
                                                <i class="fa fa-bar-chart"></i>  <span class="caret"></span>
                                            </button>
                                        </div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-tictle"><small>#12  </small>Lorem ipsum dolor</h4>
                     <p><small class="text-muted"><i class="fa fa-check"></i> 14 Aug 2017, 9.30 AM</small>
                    </p>
                </div>
                <div class="timeline-body">
                      <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>List B</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>14 Aug, 2017 9.30 AM </td>

                                                  
                                                </tr>
                                                
                                                                                
                                        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                     <hr>
                                        <div class="btn-group" >
                                            <button type="button" class="btn btn-primary btn-sm" > Preview
                                                <i class="fa fa-eye"></i>  <span class="caret"></span>
                                            </button>

                                            <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" > Report
                                                <i class="fa fa-bar-chart"></i>  <span class="caret"></span>
                                            </button>
                                        </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><small>#10  </small>Lorem ipsum dolor</h4>
                     <p><small class="text-muted"><i class="fa fa-check"></i> 11 Aug 2017, 9.30 AM</small>
                    </p>
                </div>
                <div class="timeline-body">
                      <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>List C</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>11 Aug, 2017 9.30 AM </td>

                                                
                                                </tr>
                                                
                                                                                
                                        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                     <hr>
                                        <div class="btn-group" >
                                            <button type="button" class="btn btn-primary btn-sm" > Preview
                                                <i class="fa fa-eye"></i>  <span class="caret"></span>
                                            </button>

                                            <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" > Report
                                                <i class="fa fa-bar-chart"></i>  <span class="caret"></span>
                                            </button>
                                        </div>

                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><small>#8  </small>Lorem ipsum dolor</h4>
                     <p><small class="text-muted"><i class="fa fa-check"></i> 8 Aug 2017, 9.30 AM</small>
                    </p>
                </div>
                <div class="timeline-body">
                      <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>List D</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>8 Aug, 2017 9.30 AM </td>
 

                                                </tr>
                                                
                                                                                
                                        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                     <hr>
                                        <div class="btn-group" >
                                            <button type="button" class="btn btn-primary btn-sm" > Preview
                                                <i class="fa fa-eye"></i>  <span class="caret"></span>
                                            </button>

                                            <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" > Report
                                                <i class="fa fa-bar-chart"></i>  <span class="caret"></span>
                                            </button>
                                        </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><small>#7  </small>Lorem ipsum dolor</h4>
                     <p><small class="text-muted"><i class="fa fa-check"></i> 6 Aug 2017, 9.30 AM</small>
                    </p>
                </div>
                <div class="timeline-body">
                      <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>List E</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>6 Aug, 2017 9.30 AM </td>

                                                   

                                                </tr>
                                                
                                                                                
                                        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                    <hr>
                    <div class="btn-group" >
                        <button type="button" class="btn btn-primary btn-sm" > Preview
                            <i class="fa fa-eye"></i>  <span class="caret"></span>
                        </button>

                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" > Report
                            <i class="fa fa-bar-chart"></i>  <span class="caret"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
       
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><small>#3  </small>Lorem ipsum dolor</h4>
                     <p><small class="text-muted"><i class="fa fa-check"></i> 1 Aug 2017, 9.30 AM</small>
                    </p>
                </div>
                <div class="timeline-body">
                        <div class="card mb-3">
                                        <div class="card-header"></div>
                                        <div class="card-block table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Recipients </th>
                                                    <th>% Openers</th>
                                                    <th>% Clickers </th>
                                                    <th>% Unsubscribe</th>
                                                    <th>Sent Date</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>List F</td>
                                                    <td>126 (22.3%)</td>
                                                    <td>23 (32.3%)</td>
                                                    <td>45 (0.3%)</td>
                                                    <td>1 Aug, 2017 9.30 AM </td>

                                                

                                                </tr>
                                                
                                                                                
                                        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                     <hr>
                                    <div class="btn-group" >
                                        <button type="button" class="btn btn-primary btn-sm" > Preview
                                            <i class="fa fa-eye"></i>  <span class="caret"></span>
                                        </button>

                                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" > Report
                                            <i class="fa fa-bar-chart"></i>  <span class="caret"></span>
                                        </button>
                                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>
