<div [@routerTransition]>

    <app-page-header [heading]="'campaigns'" [icon]="'fa-th-list'">     </app-page-header>

    <app-tabs></app-tabs>

    <app-modal></app-modal>
<!-- 
<ckeditor
  [(ngModel)]="ckeditorContent">
    <ckbutton [name]="'saveButton'"
      [command]="'saveCmd'"
      (click)="save($event)"
      [icon]="'save.png'"
      [label]="'Save Document'"
      [toolbar]="'clipboard,1'">
    </ckbutton>
</ckeditor> -->
<div [froalaEditor]>Hello, Froala!</div>
    <app-alert></app-alert>
    <app-buttons></app-buttons>
    <app-collapse></app-collapse>
    <app-date-picker></app-date-picker>
    <app-dropdown></app-dropdown>
    <app-pagination></app-pagination>
    <app-pop-over></app-pop-over>
    <app-progressbar></app-progressbar>
    <app-tooltip></app-tooltip>
    <app-timepicker></app-timepicker>
</div>
