<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3">

        <!--     <div class="card-header">Modal</div>
         -->    <!-- Large modal -->
            <!--  <div class="card-block"> -->

            <div class="">
                <button class="btn btn-primary" (click)="open(content)">Preview  <i class="fa fa-eye"></i>  <span class="caret"></span></button>

                <button class="btn btn-danger" (click)="open(reportcontent)">Report <i class="fa fa-bar-chart"></i>  <span class="caret"></span></button>

                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Preview Mailer</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                        <P> LOREM IPSUM </P>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>


                 <ng-template #reportcontent let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">View Report</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Reports fine body&hellip;</p>
                        <P> DATA LOREM IPSUM </P>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
