<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3">

        <!--     <div class="card-header">Modal</div>
         -->    <!-- Large modal -->
            <!--  <div class="card-block"> -->

            <div class="">
                <button class="btn btn-primary" (click)="open(content)">Preview  <i class="fa fa-eye"></i>  <span class="caret"></span></button>

                <button class="btn btn-danger" (click)="open(reportcontent)">Report <i class="fa fa-bar-chart"></i>  <span class="caret"></span></button>

                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Preview Mailer {{campId}}</h4>



                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                          <div class="mark-preview-desktop reseller-desktop-preview">
                                <div class="browserHeader"> <span class="browserIcon"></span> 
                                    <span class="browserIcon"></span> <span class="browserIcon"></span> </div>
                                
                                   <header id="mark-preview-archive-header">
                                
                                  <div class="previewInfo">
                                    <div class="snb-para"> <strong>From : </strong> TiE Chapter - Bangalore &lt;connect@tiebangalore.org&gt; </div>
                                    <div class="snb-para"> <strong>Reply : </strong> connect@tiebangalore.org </div>
                                    <div class="snb-para"> <strong>Subject : </strong> IoT Meetups This Week: Open House with Intel; Meetup on IoT Security </div>
                                  </div>
                                </header>
                                <iframe src="https://s3-ap-southeast-1.amazonaws.com/imboss/sampletestmailer.html" frameborder="1" class="modal-iframe" ></iframe>
                              </div>
                          
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>


                 <ng-template #reportcontent let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">View Report {{campId}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Reports fine body&hellip;</p>
                        <P> DATA LOREM IPSUM </P>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
